<ul class="social-list clearfix">
  <li class="social-item button facebook"><%= link_to 'Facebook', user_omniauth_authorize_path(:facebook) %></li>
  <!--
  <li class="social-item button google">Sign in</li>
  -->
</ul>

