<section id="nasaPrica">
    <div class="page-container">
        <h2>Jedan oglas može promijeniti svijet. Ovo je priča o tome.</h2>
        <img src="/assets/static/nasa-prica.png">
            <p>Siječan je 2013. godine. Zagreb je već tjednima okovan snijegom. Na stanici gdje Silvija Novak svaki dan čeka tramvaj za posao, sramežljivo stoji rukom napisan oglas “Siromašni invalid moli na poklon cipele 46”. Unatoč debelom kaputu, Silvija je promrzla. Netko je trebao cipele, a ona je u ormaru imala nekoliko pari viška. Sigurno netko ima i višak cipele broj 46!</p>

       <p> Fotografirala je oglas i postavila ga na Facebook, ne sluteći koliko će njezina topla gesta zagrijati mnoga srca. U samo nekoliko sati više od 2000 ljudi podijelilo je tu fotografiju, a gospodin Zdenko koji je oglas postavio tog je dana bio najtraženija osoba. Svi su željeli pomoći. </p>

        <p>Andreja Piskač, Verica Katić i Robert Tomašević aktivno su se priključili Silviji u akciji prikupljanja odjeće i ostalih potrepština putem društvenih mreža. U vrlo kratkom roku njihov su stan zatrpale vreće pune stvari koje su im donosili prijatelji i poznanici. Gospodinu Zdenku nije trebalo sve to. Odlučile su pokrenuti <a href="https://www.facebook.com/Cipele46">Facebook stranicu 'Cipele46'</a> s namjerom da spoje ljude s obje strane priče: oni koji imaju i oni koji trebaju.</p>

        <p>U šest mjeseci akciji se priključilo više od 12 tisuća ljudi! Malen tim više nije mogao sam spajati ljude, a nisu željeli da neka pomoć ostane neostvarena. Stoga je uz pomoć drugih dragih ljudi stvorena ova web stranica, u nadi da će se dobra djela i dalje nastaviti.</p>

        <p>Nastavite niz i pomozite drugima, jer nikad ne znate što vam život nosi i na kojoj strani priče se možete naći.  Hvala vam od srca.</p>
    </div>
    <div class="page-contant">
        <div class="trazim box">
            <h3>Trebam</h3>
            <p>Moje ime je Marko, Hrvoje, Anita ili Gordana. Živim pored tebe, ali me ti često ne primjećuješ jer živimo drugačijim životima. Nisam dovoljno blagoslovljen da mogu živjeti bez tuđe pomoći i vjeruj mi da me to boli. Pomozi mi ako možeš, na način na koji možeš...</p>
        </div>
        <div class="poklanjam box">
            <h3>Poklanjam</h3>
            <p>Često kupim nešto što mi u tom trenutku ne treba, jer mislim da će jednog dana super poslužiti. Imam takvih “sigurnih” stvari previše: u ormaru s cipelama, u ostavi, u garaži. Stalno čekam da nešto ponovo koristim i sjetim ih se tek kad mi zatreba još prostora. Vrijeme je da tim stvarima dam pravu funkciju.</p>
        </div>
    </div>
</section>
