<section id="nasaPrica">
    <div class="page-container">
        <h2 class="u-izradi">U izradi</h2>
        <p>Hvala vam na posjeti! Moramo još pokrpati par rupa da Cipele 46 budu kao nove!
        Dok ne dovršimo stranicu, posjetite nas na <a href="https://www.facebook.com/Cipele46">Facebooku</a></p>
    </div>
</section>
