/*
    Color definitions
    page background:    #fff1d8
    element border:     #ccc
    orange:             #f4715b
    receiving blue:     #17c1c7
    giving red:         #f4715b
*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin,latin-ext);

@font-face {
    font-family: "Flaticons Solid";
    src: url("/assets/flaticons-solid.eot");
    src: url("/assets/flaticons-solid.eot?#iefix") format("embedded-opentype"),
        url("/assets/flaticons-solid.woff") format("woff"),
        url("/assets/flaticons-solid.ttf") format("truetype"),
        url("/assets/flaticons-solid.svg#flaticons-solid") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Flaticons Stroke";
    src: url("/assets/flaticons-stroke.eot");
    src: url("/assets/flaticons-stroke.eot?#iefix") format("embedded-opentype"),
        url("/assets/flaticons-stroke.woff") format("woff"),
        url("/assets/flaticons-stroke.ttf") format("truetype"),
        url("/assets/flaticons-stroke.svg#flaticons-stroke") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Flaticons Social";
    src: url("/assets/flaticons-social.eot");
    src: url("/assets/flaticons-social.eot?#iefix") format("embedded-opentype"),
        url("/assets/flaticons-social.woff") format("woff"),
        url("/assets/flaticons-social.ttf") format("truetype"),
        url("/assets/flaticons-social.svg#flaticons-social") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Some basic styles
 ***************************************************************/
html, body {
    width: 100%;
    -webkit-text-size-adjust: none;
    background: #fff1d8;
}

body, * {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 62.5%;
}

input[type="search"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="password"],
input[type="button"],
input[type="submit"],
input[type="reset"],
select,
textarea,
button {
    -webkit-appearance: none;
}

.hidden {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
}

.line-through {
    text-decoration: line-through;
}

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

.icon.solid:before,
.icon.stroke:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon.solid:before {
    font-family: "Flaticons Solid";
}
.icon.stroke:before {
    font-family: "Flaticons Stroke";
}

/* Icons
***************************************************************/
.icon.stroke.down:before { content: "\e5a5"; }

.icon.stroke.location:before { content: "\e4f6"; }

.icon.stroke.category:before { content: "\e3fc"; }

.icon.stroke.time:before { content: "\e4ee"; }

/* Layout
***************************************************************/
.page-header {
    background: rgba(255, 255, 255, .9);
    height: 80px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    z-index: 100;
}

/* Home page */
.page-content-wrapper,
.page-header-inner-wrapper {
   width: 960px;
   margin: 0 auto;
   position: relative;
}
.page-content-wrapper {
    padding-top: 90px;
}
.page-sidebar {
    float: left;
    width: 300px;
    margin: 0px 10px 10px;
}
.page-content {
    float: right;
    width: 640px;
}

/* Inner page */
.page-content-wrapper.inner-page {
    width: 940px;
}
.page-content-wrapper.inner-page .page-content {
    width: 600px;
}
.page-content-wrapper.inner-page .sidebar-wrapper {
   float: right;
   width: 270px;
   margin: 50px 10px 10px;
}

/* Inner page without aside */
.page-content-wrapper.inner-page-single {
    width: 940px;
}

.page-content-wrapper.inner-page-single .page-content {
    float: none;
    margin: 0 auto;
}


/* Page Header
***************************************************************/
.page-header .logo {
    display: block;
    width: 62px;
    height: 80px;
    background: url(/assets/shoes46_logo.png) left center no-repeat;
    text-indent: -9999px;
    float: left;
}

.page-header nav {
    float: left;
    margin-left: 30px;
}
.page-header nav li {
    display: block;
    float: left;
    margin: 0 5px;
}
.page-header nav li.current {
    border-bottom: solid 6px #f4715b;
}
.page-header nav li a:link,
.page-header nav li a:visited {
    display: block;
    height: 71px;
    line-height: 74px;
    padding: 0 10px;
    color: #777;
    font-weight: bold;
    font-size: 1.8em;
    padding-top: 3px;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition:  color .1s linear;
}
.page-header nav li a:hover,
.page-header nav li a:active,
.page-header nav li a:focus,
.page-header nav li.current a:link,
.page-header nav li.current a:visited {
    color: #f4715b;
}

#search {
    width: 230px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    float: left;
    margin-left: 30px;
    border-bottom: solid 2px #f4715b;
    margin-top: 20px;
}
#search input,
#search button {
    background: #fff;
    height: 36px;
    line-height: 36px;
    color: #777;
    border: none;
    outline: none;
    font-size: 1.8em;
}
#search input {
    width: 170px;
}
#search button {
    float: right;
    width: 30px;
    position: relative;
    background: transparent;
    margin-top: 2px;
}
#search button:after {
    display: block;
    font-family: "Flaticons Stroke";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e45a";
    color: #f4715b;
    position: absolute;
    left: 5px;
    top: 8px;
}

.nav-user {
    float: right;
}
.nav-user > li {
    float: left;
    position: relative;
}
.nav-user > li:first-child {
    margin-right: 40px;
}
.nav-user-new-add a:link,
.nav-user-new-add a:visited {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 1.8em;
    background: #f4715b;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    margin-top: 20px;
}

.nav-user-not-logged a:link,
.nav-user-not-logged a:visited,
.nav-user-settings a:link,
.nav-user-settings a:visited {
    display: block;
    color: #777;
    font-weight: bold;
    font-size: 1.8em;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition:  color .1s linear;
}
.nav-user-settings > a:after {
    font-family: "Flaticons Stroke";
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: "\e5a5";
    color: #ccc;
    display: block;
    float: right;
    font-size: 24px;
    margin-left: 2px;
    margin-top: 29px;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition:  color .1s linear;
}
.nav-user-not-logged > a:after {
    font-family: "Flaticons Stroke";
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: "\e5a7";
    color: #ccc;
    display: block;
    float: right;
    font-size: 24px;
    margin-left: 2px;
    margin-top: 29px;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition:  color .1s linear;
}
.nav-user-not-logged a:hover,
.nav-user-not-logged a:active,
.nav-user-not-logged a:focus,
.nav-user-not-logged:hover > a:link,
.nav-user-not-logged:hover > a:visited,
.nav-user-not-logged:hover > a:after,
.nav-user-settings a:hover,
.nav-user-settings a:active,
.nav-user-settings a:focus,
.nav-user-settings:hover > a:link,
.nav-user-settings:hover > a:visited,
.nav-user-settings:hover > a:after {
    color: #f4715b;
}
.nav-user-not-logged > a,
.nav-user-settings > a {
    height: 80px;
    line-height: 80px;
    position: relative;
}
.nav-user-settings > div {
    display: none;
    background-color: #fff;
    border: solid 1px #ccc;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 70px;
    right: -10px;
}
.nav-user-settings:hover > div {
    display: block;
}
.nav-user-settings ul li {
    display: block;
    border-bottom: solid 1px #ccc;
}
.nav-user-settings ul li:last-child {
    border: none;
}
.nav-user-settings ul li a {
    padding: 10px 20px;
    white-space: nowrap;
}
.nav-user-settings ul:before {
    display: block;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    top: -10px;
    right: 40px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
}

/* Sidebar */

.page-sidebar h3 {
    font-size:24px;
    font-weight: bold;
    color: #f4715b;
    margin-top:8px;
}
.page-sidebar .sidebar-number {
    color:#777777;
    font-size: 18px;
    font-weight: bold;
    margin-top:26px;
}

.page-sidebar .sidebar-number:before {
    display: inline-block;
    font-family: "Flaticons Solid";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e118";
    color: #f4715b;
    left: 5px;
    top: 8px;
    margin-right:20px;
}


.page-sidebar .sidebar-email {
    color:#777777;
    font-size: 18px;
    font-weight: bold;
    margin-top: 18px;
}
.page-sidebar .sidebar-email:before {
    display: inline-block;
    font-family: "Flaticons Solid";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e0aa";
    color: #f4715b;
    left: 5px;
    top: 8px;
    margin-right:20px;
}

.page-sidebar .sidebar-input-description {
    font-size:12px;
    color:#777777;
    font-weight: normal;
    margin-top: 36px;
    margin-bottom: 2px;
    display: block;
}
.page-sidebar .sidebar-button-description {
    font-size:12px;
    color:#777777;
    font-weight: normal;
    margin-top: 6px;
    margin-bottom: 2px;
    text-align: center;
    line-height: 16px;
    display: block;
}
.page-sidebar .sidebar-input-description-email {
    font-size:12px;
    color:#777777;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 4px;
    display: block;
}
.page-sidebar textarea {
    background: #fff;
    line-height: 24px;
    color: #777;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 1.7em;
    padding:10px;
    width: 220px;
}

.page-sidebar input {
    background: #fff;
    height: 36px;
    line-height: 36px;
    color: #777;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 1.7em;
    padding-left:10px;
    width: 230px;
    margin-top:0px;
}

.page-sidebar .sidebar-button{
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    background: #f4715b;
    height: 48px;
    line-height: 48px;
    padding: 0 30px;
    margin-top: 20px;
    border: 0px;
    text-align: center;
    width:100%;
}
.page-sidebar .sidebar-button:hover {
    cursor:pointer;
}

.page-sidebar .sidebar-button-gray{
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    background: #999999;
    height: 52px;
    line-height: 52px;
    padding: 0 30px;
    margin-top: 20px;
    border: 0px;
    text-align: center;
    width:100%;
}
.page-sidebar .sidebar-button-gray:hover {
    cursor:pointer;
}

.page-sidebar ul.sidebar-blog-arhiva li a:link {
    color:#777777;
    font-size: 18px;
    font-weight: bold;
    margin-top:18px;
    display: block;
}

.page-sidebar ul.sidebar-blog-arhiva {
    margin-bottom:34px;
}


/* Board
***************************************************************/
/* Board navigation */
.cards-board-filter {

}
.cards-board-filter li {
    margin-bottom: 10px;
}
.cards-board-filter > ul > li {
    margin-bottom: 20px;
}
.cards-board-filter > ul > li ul {
    margin-top: 10px;
    margin-left: 10px;
    display: none;
}
#cards-board-filter-nav > li { /* padding needs to be used instead of margin or slide animations are jumpy */
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.cards-board-filter > ul > li.expanded ul {
    display: block;
}
.cards-board-filter a:link,
.cards-board-filter a:visited {
    display: block;
    font-size: 1.6em;
    color: #444;
    position: relative;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition:  color .1s linear;
}
.cards-board-filter a:hover,
.cards-board-filter a:active,
.cards-board-filter a:focus,
.cards-board-filter li.current a:link,
.cards-board-filter li.current a:visited {
    color: #f4715b;
}

.cards-board-filter > ul > li > a:link,
.cards-board-filter > ul > li > a:visited {
    text-transform: uppercase;
    color: #212121;
    font-size: 2em;
}
.cards-board-filter > ul > li > a:hover,
.cards-board-filter > ul > li > a:active,
.cards-board-filter > ul > li > a:focus {
    color: #000;
}
.cards-board-filter > ul > li > a:after {
    font-family: "Flaticons Stroke";
    speak: none;
    font-style: normal;
    font-weight: normal;
    margin-top: 15px;
    content: "\e5a5";
    color: #ccc;
    font-size: 20px;
    margin-left: 2px;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition:  color .1s linear;
}
.cards-board-filter > ul > li.expanded > a:after {
    content: "\e5a4";
}
.cards-board-filter > ul > li:hover > a:after {
    color: #212121;
}

.cards-board-filter li.giving a:after,
.cards-board-filter li.receiving a:after {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -18px;
    top: 6px;
    content: " ";
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.cards-board-filter li.giving a:after {
    background: #f4715b;
}
.cards-board-filter li.receiving a:after {
    background: #17c1c7;
}

/* Board header */
.page-content-header {
    margin: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 1.4em;
    color: #444;
}
.breadcrumbs,
.breadcrumbs li {
    float: left;
}
.breadcrumbs li > a:after,
.breadcrumbs li > span:after {
    content: "/";
    color: #444;
    padding: 0 3px;
}
.breadcrumbs li:last-child > a:after,
.breadcrumbs li:last-child > span:after {
    content: "";
}
.breadcrumbs a:link,
.breadcrumbs a:visited {
    color: #f4715b;
}

.cards-counter {
    float: right;
}
.cards-counter strong {
    font-weight: bold;
    color: #f4715b;
}

/* Board footer */
.page-content-footer {
    margin: 0 10px;
}

.cards-pager {
    margin: 20px auto;
    font-size: 1.6em;
    float: left;
}
.cards-pager li {
    float: left;
    margin: 0 5px;
}
.cards-pager li:first-child {
    margin-left: 0;
}
.cards-pager li a:link,
.cards-pager li a:visited,
.cards-pager li span {
    display: block;
    border: solid 1px #f4715b;
    padding: 10px;
    color: #f4715b;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition:  all .1s linear;
}
.cards-pager li span {
    border: solid 1px transparent;
}
.cards-pager li:first-child a:link,
.cards-pager li:first-child a:visited,
.cards-pager li:last-child a:link,
.cards-pager li:last-child a:visited,
.cards-pager li a:hover,
.cards-pager li a:active,
.cards-pager li a:focus,
.cards-pager li.current span {
    border: solid 1px #f4715b;
    background: #f4715b;
    color: #fff;
}

/* Board content */
.card {
    width: 260px;
    background: #fff;
    margin: 10px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    border-top: solid 6px transparent;
    padding: 20px;
    float: left;
    cursor: pointer;
}
.card figure {
    width: 260px;
    height: 180px;
    line-height: 180px;
    text-align: center;
    overflow: hidden;
    background: #eee;
    font-size: 1.8em;
    margin-bottom: 10px;
}
.card figure img {
    width: 260px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.card:hover figure img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.card h2 {
    font-weight: bold;
    color: #212121;
    font-size: 1.8em;
}
.card h2 a:link,
.card h2 a:visited {
    color: #212121;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition:  all .1s linear;
}
.card p {
    font-size: 1.4em;
    color: #444;
    margin-top: 10px;
}
.card footer {
    border-top: solid 1px #ccc;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition:  all .1s linear;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 1.2em;
    color: #777;
    position: relative;
    z-index: 5;
}
.card footer .card-place {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.card.giving {
    border-top-color: #17c1c7;
}
.card.giving:hover h2,
.card.giving:hover h2 a:link,
.card.giving:hover h2 a:visited,
.card.giving:hover footer {
    color: #17c1c7;
}
.card.giving:hover footer {
    border-color: #17c1c7;
}

.card.receiving {
    border-top-color: #f4715b
}
.card.receiving:hover h2,
.card.receiving:hover h2 a:link,
.card.receiving:hover h2 a:visited,
.card.receiving:hover footer {
    color: #f4715b;
}
.card.receiving:hover footer {
    border-color: #f4715b
}

.card-place,
.card-category,
.card-time {
    line-height: 26px;
    margin-right: 20px;
}
.card-place:before,
.card-category:before,
.card-time:before {
    padding-right: 3px;
}

a.card-favorite:link,
a.card-favorite:visited {
    display: block;
    position: absolute;
    z-index: 10;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: right;
    top: 35px;
    right: 0;

    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: "Flaticons Stroke";
    content: "\e49d";
    font-size: 20px;
    color: #ccc;

    /* we want 40x40 click area, but we must have equal padding on all sides for scale animation to look good */
    padding: 10px;
    margin: -10px;
}
a.card-favorite:hover,
a.card-favorite:active,
a.card-favorite:focus {
    color: #ffd33d;
}
a.card-favorite.selected:link,
a.card-favorite.selected:visited {
    font-family: "Flaticons Solid";
    content: "\e0b5";
    font-size: 20px;
    color: #ffd33d;
}

/* Isotope */
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* Card details */
.card-details {
    margin: 0 30px;
}
.card-details figure {
    width: 480px;
    height: 300px;
    text-align: center;
    overflow: hidden;
    background: #eee;
    margin-bottom: 20px;
}
.card-details figure img {
    width: 480px;
}
.card-details h2 {
    font-weight: bold;
    color: #212121;
    font-size: 2em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #ccc;
    padding-top: 4px;
}
.card-details p {
    font-size: 1.6em;
    color: #444;
    margin-top: 10px;
}
.card-details header {
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
    font-size: 1.4em;
    color: #777;
}

/* User settings
***************************************************************/
.settings .form-section-container {
    width: 100%;
}

.settings .form-section-container .fieldset {
    margin: 20px auto 50px;
    padding: 0 100px;
    width: 250px;
}

.settings input[type=submit] {
    background-color: #f4715b;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin: 30px auto 0;
    width: 250px;
}

.card-details .pull-right {
    float:right;
}

.card-details .link-vise {
    font-size:22px;
    font-weight: bold;
    color: #f4715b;
    margin-top:12px;
    display: block;
}

.card-details .page-blog-h2 {
    padding-bottom:20px;
    padding-top:4px;
}

.card-details .card-text {
    line-height: 24px;
    color: #777;
    font-size: 1.7em;
}

/* Inner pages */
/**************************************************************/
.page-content-wrapper.inner-page .page-content-container,
.page-content-wrapper.inner-page-single .page-content-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    border-top: solid 6px #f4715b;
    margin: 10px 10px 24px 10px;
    padding: 20px;
}

body div.supply section,body div.supply .page-sidebar {
    border-top-color: #17c1c7 !important;
}

body div.supply .page-sidebar h3, body div.supply .sidebar-number,body div.supply .sidebar-number:before,body div.supply .sidebar-email:before{
    color: #17c1c7 !important;
}

body div.supply button.sidebar-button {
    background-color:#f4715b;
}

body div.demand button.sidebar-button {
    background-color:#17c1c7 !important;
}

.page-content-wrapper.inner-page .page-content-container {
    background: #fff;
-   margin: 10px;
}

.page-content-wrapper.inner-page .page-sidebar {
    background: #fff;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    border-top: solid 6px #f4715b;
    padding: 20px;

}



/* Forms */
/**************************************************************/
.form-heading {
    color: #f4715b;
    font-size: 24px;
    font-weight: bold;
}

.input-container {
    color: #999;
    font-size: 12px;
    margin: 20px 0 25px;
}

.input-container > * {
    display: block;
    width: 250px;
}

.input-container .title {
    font-size: 14px;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="number"],
.input-container input[type="tel"],
.input-container input[type="date"],
.input-container input[type="password"] {
    background: #eee;
    border: 0;
    color: #333;
    font-size: 16px;
    height: 44px;
    line-height: normal;
    margin: 5px 0 0;
    padding: 0 20px;
    width: 210px;
}

.input-container input[type="text"]:focus,
.input-container input[type="email"]:focus,
.input-container input[type="number"]:focus,
.input-container input[type="tel"]:focus,
.input-container input[type="date"]:focus,
.input-container input[type="password"]:focus {
    background-color: #ddd;
}

.input-container input ~ .note {
    opacity: 0;
    position: absolute;
    color: #3FA83F;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: opacity 0.1s ease-in-out;
       -moz-transition: opacity 0.1s ease-in-out;
        -ms-transition: opacity 0.1s ease-in-out;
         -o-transition: opacity 0.1s ease-in-out;
            transition: opacity 0.1s ease-in-out;
}

.input-container input:focus ~ .note {
    opacity: 1;
}

.input-container label.error {
    color: #ff2929;
    position: absolute;
}

.input-container input.error ~ label.error ~ .note {
    margin-top: 12px;
}


/* Content */
/***************************************************************/

/* Article */
.article {
    padding: 0 10px;
}
.article p {
    margin-bottom: 10px;
}
.article h1,
.article h2,
.article h3,
.article h4 {
    color: #e82490;
}
.article h1 {
    font-size: 18px;
}
.article h2 {
    font-size: 16px;
}
.article h3,
.article h4 {
    font-size: 14px;
}
.article a:link,
.article a:visited {
    color: #e82490;
    text-decoration: underline;
}
/* ADD PAGE */
/***************************************************************/
#addPage .page-content-wrapper.inner-page .page-sidebar{
    float:right;
}
#addPage .page-content{
    float:left;
    width:620px;
}
#addPage .page-content-wrapper.inner-page .page-content-container,
.page-content-wrapper.inner-page .page-sidebar {
    background: #fff;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    border-top: solid 6px #f4715b;

}
#addPage .page-sidebar{
    padding:20px;
    width:250px;
    margin-top:49px;
}
#addPage .page-sidebar .logo{
    display: block;
    width: 62px;
    height: 65px;
    margin-right:10px;
    background: url(/assets/shoes46_logo.png) left center no-repeat;
    text-indent: -9999px;
    float: left;
}
#addPage .page-content-wrapper.inner-page .page-content-container {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    background: #fff;
    margin: 10px 0 20px 0;
    padding: 30px 60px;
}
#addPage .page-sidebar p{
    line-height:121%;
    font-size:110%;
    color:#7f7f7f;
}
#addPage .page-sidebar .addButton{
    display: block;
    margin-top:30px;
    width:100%;
    height:35px;
    color:white;
    background:#f4715b;
    font-size: 20px;
    line-height:35px;
    text-align: center;
    font-weight: bold;
}
#addPage .page-sidebar .cancle{
    display: block;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color:#7f7f7f;
    text-decoration: none;
    font-size: 14px;
}
#addPage .page-sidebar .cancle:hover{
    text-decoration: underline;
}
#addPage .page-content-container .radio{
    display:none;
}
#addPage .page-content-container #poklanjam, #trazim{
    background:url("/assets/circle_empty.png") no-repeat;
    background-size: 20px 20px;
    background-position: left center;
    color:#999;
    padding-left:25px;
    cursor:pointer;
    font-weight: bold;
    font-size:16px;
}
#addPage .page-content-container #poklanjam.field-radio-label-checked{
    color:#f4715b;
    background:url("/assets/circle_red.png") no-repeat;
}
#addPage .page-content-container #trazim.field-radio-label-checked{
    background:url("/assets/circle_blue.png") no-repeat;
    color:#17c1c7;
}
#addPage .page-content-container #trazim{
    margin-left:50px;
}
#addPage .page-content-container #naslov{
    width:100%;
    border:none;
    font-size: 22px;
    font-weight: bold;
    margin-top:35px;
}
#addPage .page-content-container #tekst{
    color:#999;
    border:none;
    width:100%;
    height:90px;
    resize:none;
    margin-top:30px;
    border-bottom:1px solid #dddddd;
}
#addPage .page-content-container .inputArea{
    margin-top:25px;
    float:left;
}
#addPage .page-content-container .inputArea .dropdownSelect{
    width:240px;
    height:45px;
    margin-bottom:25px;
}
#addPage .page-content-container .inputArea .left{
    float:left;
}
#addPage .page-content-container .inputArea label{
    color:#999;
    margin-bottom:5px;
    font-size: 14px;
}
#addPage .page-content-container .inputArea .right{
    position:relative;
    margin:0 0 0 20px;
    width:240px;
    float:right;
}
#addPage .page-content-container .inputArea .right .uploadingImg{
    position:absolute;
    top:20px;
    width:240px;
    height:220px;
    overflow: hidden;
    cursor:pointer;
}
#addPage .page-content-container .inputArea .right .uploadingImg.haveImg .bck{
    z-index:10;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url("/assets/pic_del.png"), black;
    background-repeat: no-repeat;
    background-position: center center;
    display:none;
}
#addPage .page-content-container .inputArea .right .uploadingImg.haveImg:hover .bck{
   opacity: .8;
    display:block;
}
#addPage .page-content-container .inputArea .right #uploadPhotoBtn{
    margin: 0 0 6px 0;
    padding:0;
    border:0;
    width:100%;
    height:220px;
    background: url("/assets/pic.png"), #eee;
    background-repeat: no-repeat;
    background-position: center center;
}
.bgwidth { width: 100%; }
.bgheight { height: 100%; }
/*CHANGES FPR TRAZIM VIEW*/
/**********************************************************/
#addPage .trazim .page-sidebar{
    border-top: solid 6px #17c1c7;
}
#addPage .trazim .page-sidebar .addButton{
    background: #17c1c7;
}
#addPage .page-content-wrapper.inner-page.trazim .page-content-container{
    border-top: solid 6px #17c1c7;
}

#addPage .page-content-container .inputArea .input-container > * {
    display: block;
    width: 240px;
}
#addPage .page-content-container .inputArea .input-container input {
    width:200px;
}
#addPage .page-content-container .inputArea .input-container p{
    margin-top:5px;
    color:#008c00;
    font-size:10px;
}
#addPage .nav-user > li:first-child {
    margin-right: 20px;
}

.input-container {
    color: #999;
    font-size: 12px;
    margin: 20px 0 25px;
}

.input-container > * {
    display: block;
    width: 250px;
}

.input-container .title {
    font-size: 14px;
}

.input-container input {
    background: #eee;
    border: 0;
    color: #333;
    font-size: 16px;
    height: 44px;
    padding: 0 20px;
    width: 210px;
}

/* CUSTOM DROP DOWNS! */
/***************************************************************/
.dropdownSelect {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height:100%;
    padding: 10px;
    margin: 0;

    background: #eeeeee;
    color: #444444;
    cursor: pointer;
    font-size:18px;
}
.dropdownSelect input{
    display:none;
}

.dropdownSelect:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    border-style: solid;
    border-color: #999 transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}

.dropdownSelect .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 9999;
    max-height:200px;
    /* Styles */
    background: #eeeeee;
    list-style: none;
    font-weight: normal; /* Cancels previous font-weight: bold; */

    /* Hiding */
    opacity: 0;
    pointer-events: none;
    overflow-y: scroll;
}

.dropdownSelect .dropdown li a {
    display: block;
    text-decoration: none;
    color: #9e9e9e;
    padding: 10px 20px;
}

/* Hover state */
.dropdownSelect .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */
.dropdownSelect.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.dropdownSelect.active:after {
    border-color: #444444 transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}

.dropdownSelect.active {

}
.single-col-container{
    width: 250px;
    margin: 0 auto;
}
.single-col-container input{
    margin: 30px 0;
}
.red{
    background-color: #f4715b !important;
}
/* Login
***************************************************************/
.login-form-container input,
.button{
    width: 180px;
    height: 44px;
    border: none;
    font-size: 1.8em;
    line-height: 44px;
    position: relative;
    background-color: #eee;
    padding: 0 30px;
    color: #fff;
}
input[type=submit].button{
    width: 250px;
}
input[type=email],
input[type=password],
input[type=text]{
    color: #333;
}
.login-form-container input:focus{
    background-color: #ddd;
}
.button:hover{
    opacity: 0.7;
}
.login-form-container a,
.login-footer a{
    color: inherit;
}
.login-col-container{
    width: 50%;
    float: left;
    position: relative;
}
.col-divider{
    position: absolute;
    width: 10px;
    height: 11px;
    right: 0;
    top: 50%;
    margin-right: -5px;
    font-size: 12px;
    line-height: 11px;
    opacity: 0.5;
}
.col-divider:before{
    display: block;
    width: 1px;
    height: 30px;
    position: absolute;
    content: " ";
    background-color: #777;
    top: -33px;/*TODO:fix;*/
    left: 4px;
}
.col-divider:after{
    display: block;
    width: 1px;
    height: 30px;
    position: absolute;
    content: " ";
    background-color: #777;
    top: 15px;/*TODO:fix;*/
    left: 4px;
}
.login-col-content{
    width: 250px;
    height: 100%;
    margin: 0 auto;
}
span.form-label{
    width: 100%;
    display: inline-block;
    color: #777;
    font-size: 1.2em;
    margin: 13px 0 5px;
}
.forgot-password{
    margin: 5px 0 15px !important;
}

.social-item:hover{
    opacity: 0.7;
}
.login-form-container .social-item{
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.login-form-container input[type=submit]{
    background-color: #f4715b;
    color: #fff;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}
.login-form-container .social-item{
    margin-top: 20px;
    cursor: pointer;
}
.login-form-container .form-heading{
    margin-left: 100px;
    padding: 0;
}
.login-footer{
    text-align: center;
    margin-top: 60px;
}
.login-footer span{
    display: inline-block;
    font-size: 1.4em;
    height: 22px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    color: #777;
}
/*--------------------------------
    ICONS
--------------------------------*/
.social-item.facebook{
    background-color: #44619d;
}
.social-item.google{
    background-color: #dd4b39;
}
.social-item.twitter{
    background-color: #00aced;
}
.social-item.facebook:after {
    font-family: "Flaticons Social";
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 44px;
    content: "\e7f7";
    color: #fff;
    display: block;
    float: right;
    font-size: 24px;
    position: absolute;
    left: 11px;
    top: 0;
}
.social-item.twitter:after {
    font-family: "Flaticons Social";
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 44px;
    content: "\e7d1";
    color: #fff;
    display: block;
    float: right;
    font-size: 24px;
    position: absolute;
    left: 11px;
    top: 0;
}
.social-item.google:after {
    font-family: "Flaticons Social";
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 44px;
    content: "\e7d9";
    color: #fff;
    display: block;
    float: right;
    font-size: 24px;
    position: absolute;
    left: 11px;
    top: 0;
}
/*TODO SYNC WITH OTHERS*/
.form-heading {
    color: #f4715b;
    font-size: 24px;
    font-weight: bold;
}







/*NASA PRICA */
/***************************************************************/
#nasaPrica .page-container{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
    top:125px;
    width:945px;
    margin:0 auto;
    background:white;
    border-top:6px solid #f4715b;
    padding:40px 80px;
    color:#777;
}
#nasaPrica h2.u-izradi {
    margin-bottom: 1em;
}
#nasaPrica .page-container h2{
    font-size: 24px;
}
#nasaPrica .page-container p{
    font-size:18px;
    line-height: 24px;
    margin-bottom:15px;
}
#nasaPrica .page-container img{
    margin:30px 0;
}
#nasaPrica .page-container a{
    color:#f4715b;
}
#nasaPrica .page-container a:hover{
    text-decoration: underline;
}
#nasaPrica .page-contant{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
    top:170px;
    width:945px;
    margin:0 auto;
    color:#777;
}
#nasaPrica .page-contant{
    margin-bottom: 40px;
}
#nasaPrica .page-contant .box{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:450px;
    height:400px;
    float:left;
    background:white;
    padding:80px;
    margin-bottom: 220px;
}
#nasaPrica .page-contant .box h3{
    font-size:34px;
    color:#f4715b;
    margin-bottom:10px;
}
#nasaPrica .page-contant .box p{
    font-size: 18px;
}
#nasaPrica .page-contant .trazim{
    border-top:6px solid #f4715b;
}
#nasaPrica .page-contant .poklanjam{
    border-top:6px solid #10c1c7;
    float:right;
}
#nasaPrica .page-contant .poklanjam h3{
    color:#10c1c7;
}

/* RWD Part */
/***************************************************************/
@media only screen and (min-width:1280px) {

/* Homepage */
/* Layout */
.page-content-wrapper,
.page-header-inner-wrapper {
   width: 1280px;
}

/* Header */
.page-header nav {
    margin-left: 50px;
}

#search {
    width: 350px;
    margin-left: 50px;
}
#search input {
    width: 310px;
}

/* Content */
.page-content {
    width: 960px;
}

.page-header .logo {
    width: 175px;
}

/* Inner page */
.page-content-wrapper.inner-page {
    width: 940px;
}
.page-content-wrapper.inner-page .page-content {
    width: 600px;
}
.page-content-wrapper.inner-page .page-sidebar {
   width: 240px;
}

/* User settings
***************************************************************/
.settings form {
    margin: 20px 0;
}

.settings .form-section-container {
    display: table;
}

.settings .form-section-container .fieldset {
    display: table-cell;
    width: 50%;
}
#addPage .page-content{
    margin-left:115px;
}
#addPage .page-content-wrapper.inner-page{
    width:1050px;
}
#addPage .page-content-wrapper.inner-page .page-content-container {
    padding: 30px 40px;
}

}