<% @posts.each do |post| %>
  <h2><%= link_to post.title, blog_path(post) %></h2>

  <% if post.image.url %>
    <p><%= image_tag post.image.url(:small) %></p>
  <% end %>

  <p><%= post.content.truncate(300) %></p>

  <h2><%= link_to "Više", blog_path(post) %></h2>
  <hr>
<% end %>