<p>Bok <%= @resource.email %>!</p>

<p>Netko je zatražio promjenu tvoje lozinke. Možeš to napraviti na linku niže.</p>

<p><%= link_to 'Promijeni moju lozinku', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Ako nisi zatražio promjenu, slobodno zanemari ovu e-mail poruku.</p>
<p>Tvoja lozinka se neće promijeniti dok ne pristupiš linku iznad i ne kreiraš novu.</p>
