    <header class="page-content-header clearfix">
      <ul class="breadcrumbs clearfix">
        <li><%= link_to @ad.category.name, root_path %></li>
        <li><%= link_to @ad.city.region.name, root_path %></li>
      </ul>
    </header>
