<header class="page-header">
    <div class="page-header-inner-wrapper clearfix">
        <a href="http://www.cipele46.org" class="logo" title="Cipele46">Cipele46</a>
        <nav>
            <ul>
                <li class="current"><a href="#oglasi">oglasi</a></li>
                <li><a href="#blog">blog</a></li>
                <li><a href="#onama">o nama</a></li>
            </ul>
        </nav>
        <div id="search">
            <form>
                <input id="q" name="q" type="text" title="search" placeholder="pretraži"/><button id="search-button" type="submit" title="Search"></button>
            </form>
        </div>
        <ul class="nav-user">
            <li class="nav-user-new-add"><a href="add.html">objavi oglas</a></li>
            <li class="nav-user-settings">
                <a href="#home">Ivan Cipelić</a>
                <div>
                    <ul>
                        <li><a href="#">Postavke</a></li>
                        <li><a href="#">Moji oglasi</a></li>
												<% if user_signed_in? %>
                        <li><%= link_to 'Odjavi se', destroy_user_session_path, :method=>'delete' %></li>
												<% end %>
                    </ul>
                <div>
            </li>
        </ul>
    </div>
</header>
