<header class="page-header">
  <div class="page-header-inner-wrapper clearfix">
    <a href="http://www.cipele46.org" class="logo" title="Cipele46">Cipele46</a>
    <nav>
      <ul>
          <li class="current"><a href="#oglasi">oglasi</a></li>
          <li><a href="#blog">blog</a></li>
          <li><a href="#onama">o nama</a></li>
      </ul>
    </nav>
    <div id="search">
        <form>
            <input id="q" name="q" type="text" title="search" placeholder="pretraži"/><button id="search-button" type="submit" title="Search"></button>
        </form>
    </div>
    <ul class="nav-user">
        <li class="nav-user-new-add">
          <% unless current_user %><%= link_to "Objavi oglas", new_user_session_path %><% end -%>
          <% if current_user %><%= link_to "Objavi oglas", new_ad_path %><% end -%>
        </li>
        <% unless current_user %>
        <li class="nav-user-not-logged">
            <a href="#home">Prijavi se</a>
        </li>
        <% end -%>
        <% if current_user %>
        <li class="nav-user-settings">
            <a href="#home"><%= current_user.name %></a>
            <div>
              <ul>
                <li><a href="#">Postavke</a></li>
                <li><a href="#">Moji oglasi</a></li>
                <li><a href="#">Odjavi se</a></li>
              </ul>
            <div>
        </li>
        <% end -%>
    </ul>
  </div>
</header>
